
    <div>

    <p> Best feature realtion with ChanceofAdmit is: CGPA with score = 0.88<br/ ><br/ ></p> <p> Worst feature realtion with ChanceofAdmit is: Serial No. with score = 0.01<br/ ><br/ ></p><h2>Features sorted based on correlation (best to worst) </h2><br/ ><br/ ><table border="1" class="dataframe table table-hover table-dark">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ChanceofAdmit</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>CGPA</th>
      <td>0.882413</td>
    </tr>
    <tr>
      <th>GRE Score</th>
      <td>0.810351</td>
    </tr>
    <tr>
      <th>TOEFL Score</th>
      <td>0.792228</td>
    </tr>
    <tr>
      <th>University Rating</th>
      <td>0.690132</td>
    </tr>
    <tr>
      <th>SOP</th>
      <td>0.684137</td>
    </tr>
    <tr>
      <th>LOR</th>
      <td>0.645365</td>
    </tr>
    <tr>
      <th>Research</th>
      <td>0.545871</td>
    </tr>
    <tr>
      <th>Serial No.</th>
      <td>0.008505</td>
    </tr>
  </tbody>
</table><br/ ><br/ ><h2>Model performance </h2><br/ ><p> Best Model: Catboost Regression<br/ ><br/ ></p> <p> Adjusted R-squared: 0.889<br/ ><br/ ></p> <p> Root mean square error: 0<br/ ><br/ ></p>
    
    </div>